*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

li {
  margin: 10px 0;
  padding: 8px;
  background: #eef;
  border-radius: 4px;
}
